<article class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h2 class="text-center">Registrarme</h2>
    <form action="/register/save" method="POST">
      <div class="form-row">
        <div class="form-group col">
          <label for="name">Nombres</label>
          <input
            placeholder="Ingrese su nombre"
            title="Nombres"
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group col">
          <label for="last_name">Apellidos</label>
          <input
            placeholder="Ingrese su apellido"
            title="Apellidos"
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="mail">Correo electrónico</label>
          <input
            placeholder="Ingrese su correo electrónico"
            title="IngreseCorreo electrónico"
            type="email"
            class="form-control"
            id="mail"
            name="mail"
            required
          />
        </div>
        <div class="form-group col">
          <label for="occupation">Ocupación</label>
          <input
            placeholder="Ingrese su ocupación"
            title="Ocupación"
            type="text"
            class="form-control"
            id="occupation"
            name="occupation"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="place_occupation">Lugar de ocupación</label>
          <input
            placeholder="Ingrese su lugar de ubicación"
            title="Lugar de ocupación"
            type="text"
            class="form-control"
            id="place_occupation"
            name="place_occupation"
          />
        </div>
        <div class="form-group col">
            <label for="age">Edad</label>
            <select class="form-control" name="age" id="age">
              <option disabled>Seleccione un tipo</option>
              <option value="-20"> Menos de 20</option>
              <option value="20-24"> 20-24</option>
              <option value="25-29"> 25-29</option>
              <option value="30-34"> 30-34</option>
              <option value="35-39">35-39</option>
              <option value="40-44">40-44</option>
              <option value="45-49">45-49</option>
              <option value="50+">50 o más</option>
            </select>
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="country">Pais de origen</label>
          <%if(country){%>
            <select class="form-control" name="country" id="country">
              <% country.forEach(function(item){ %>
                <option value="<%= item.code %>"><%= item.country%></option>
              <% }) %>
            </select>
           <% }else{ %>
            <input
            placeholder="Ingrese su pais de origen"
            title="País de origen"
            type="text"
            class="form-control"
            id="country"
            name="country"
          />
            <%}%>
      </div>
      <div class="form-group col">
        <label for="country">Pais de origen</label>
        <select class="form-control" name="city" id="city"></select>
    </div>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <a href="/register" class="btn btn-warning">Cancelar</a>
    </form>
  </div>
</article>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#city").cascade("#country",{
      ajax: ({
        data: $("#country").val(),
        url: url,
        type: 'post',
        success:  function (response) {
          console.log(response); // Imprimir respuesta del archivo
          let html = "";
          $.each(response, function(item, value){
            html =+ "<select value= "+value._id+">" +value.city+ "</select>"
          })
          $("#city").html(html);
        },
        error: function (error) {
        console.log(error); // Imprimir respuesta de error
        }
      })
  });
});
</script>
