<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <% var user_aux = user; %>
    <% locals.user = user_auth; %>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav'); %>
    <% user = user_aux; %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2><u>Actualizar datos personales</u></h2>
          <form action="/users/update<% if(String(user_auth._id) != String(user._id) && user_auth.rol == "Admin"){ %>/<%= user._id %><% } %>" method="post" onsubmit="return check_pass();" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name_user">Nombres</label>
              <input type="text" class="form-control" id="name_user" name="name_user" pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}" value="<%= user.name %>" required>
            </div>
            <div class="form-group">
              <label for="last_name_user">Apellidos</label>
              <input type="text" class="form-control" id="last_name_user" name="last_name_user" pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}" value="<%= user.last_name %>" required>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileLangHTML" accept="image/*" name="photo_user">
              <label class="custom-file-label" for="customFileLangHTML" data-browse="Seleccionar">Foto de Perfil</label>
            </div>
            <div class="form-group">
              <label for="country">País</label>
              <input type="text" class="form-control" id="country" name="country" value="<%= user.country %>">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="show_country" id="show_country" <% if(user.show_country){ %>checked<% } %>>
              <label class="form-check-label" for="show_country">Mostrar país en el perfil</label>
            </div>
            <div class="form-group">
              <label for="province">Provincia</label>
              <input type="text" class="form-control" id="province" name="province" value="<%= user.province %>">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="show_province" id="show_province" <% if(user.show_province){ %>checked<% } %>>
              <label class="form-check-label" for="show_province">Mostrar provincia en el perfil</label>
            </div>
            <div class="form-group">
              <label for="city">Ciudad</label>
              <input type="text" class="form-control" id="city" name="city" value="<%= user.city %>">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="show_city" id="show_city" <% if(user.show_city){ %>checked<% } %>>
              <label class="form-check-label" for="show_city">Mostrar ciudad en el perfil</label>
            </div>
            <div class="form-group">
              <label for="address_user">Dirección</label>
              <input type="text" class="form-control" id="address_user" name="address" value="<%= user.address %>">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="show_address" id="show_address" <% if(user.show_address){ %>checked<% } %>>
              <label class="form-check-label" for="show_address">Mostrar dirección en el perfil</label>
            </div>
            <div class="form-group">
              <label for="state_user">Estado</label>
              <input type="text" class="form-control" id="state_user" name="state" value="<%= user.state %>">
            </div>
            <div class="form-group">
              <label for="phones">Telefonos</label>
              <input type="tel" class="form-control" id="phones" name="phones" pattern="[0-9,]+" value="<%= user.phones %>">
              <small class="form-text text-muted">Si desea ingresar varios telefonos, debe separarlos por comas (,).</small>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="show_phones" id="show_phones" <% if(user.show_phones){ %>checked<% } %>>
              <label class="form-check-label" for="show_phones">Mostrar telefonos en el perfil</label>
            </div>
            <div class="form-group">
              <label for="biography">Biografia</label>
              <input type="tel" class="form-control" id="biography" name="biography" value="<%= user.biography %>">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email_account" value="<%= user.mail %>" required>
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="show_mail" id="show_mail" <% if(user.show_mail){ %>checked<% } %>>
              <label class="form-check-label" for="show_mail">Mostrar correo en el perfil</label>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Clave</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password_account">
              <small id="passwordHelp" class="form-text text-muted">La contraseña debe contener almenos 1 numero, 1 mayuscula y tener almenos 8 caracteres.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Confirmar Clave</label>
              <input type="password" class="form-control" id="exampleInputPassword2" name="password_confirm">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
    <script type="text/javascript">
      function check_pass() {
        var password = document.getElementById('exampleInputPassword1').value;
        if (password && password != "") {
          if (password == document.getElementById('exampleInputPassword2').value) {
            var letras_mayusculas = "ÁÉÍÓÚABCDEFGHYJKLMNÑOPQRSTUVWXYZ";
            var letras_minusculas = "áéíóúabcdefghyjklmnñopqrstuvwxyz";
            var numeros = "0123456789";
            let tiene_numero = false;
            let tiene_mayuscula = false;
            let tiene_minuscula = false;
            if (password.length > 7) {
              for(i = 0; i < password.length; i++){
                if (numeros.indexOf(password.charAt(i), 0) != -1){
                  tiene_numero = true;
                }
                if (letras_mayusculas.indexOf(password.charAt(i), 0) != -1){
                  tiene_mayuscula = true;
                }
                if (letras_minusculas.indexOf(password.charAt(i), 0) != -1){
                  tiene_minuscula = true;
                }
              }
            }
            if(!tiene_numero || !tiene_mayuscula || !tiene_minuscula){
              Toast.fire({
                icon: 'error',
                title: 'La contraseña debe contener almenos 1 numero, 1 mayuscula y tener almenos 8 caracteres.'
              });
            }
            return tiene_numero && tiene_mayuscula && tiene_minuscula;
          }else{
            Toast.fire({
              icon: 'error',
              title: 'Las contraseñas no coinciden.'
            });
            return false;
          }
        }else{
          return true;
        }
      }
    </script>
  </body>
</html>
