<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <style media="screen">
      .v-container {
        position: relative;
        padding-bottom: 40%; /* proporción 16:9 */
        padding-top: 25px;
        height: 0;
        text-align: center;
      }

      .v-container #cover {
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <% var user_aux = user; %>
    <% locals.user = user_auth; %>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav'); %>
    <% user = user_aux; %>
    <div class="v-container">
      <img id="cover" src="/images/cover_page/madera.jpg" alt="">
      <img style="width: 15%; border: red 5px outset; border-radius: 50%; position: absolute; margin-top: 12%; left: 42%;" src="<%= user.photo %>" alt="">
      <p class="text-center" style="width: 100%; position: absolute; margin-top: 28%; color: white;"><b><%= user.name %> <%= user.last_name %></b></p>
      <p class="text-center" style="width: 100%; position: absolute; margin-top: 33%; color: white;"><%= user.state %></p>
    </div>
    <% if(user.biography || user.show_country || user.show_province || user.show_city || user.show_address || user.show_phones || user.show_mail || String(user_auth._id) == String(user._id)){ %>
      <br>
      <main class="container">
        <article class="card shadow p-3 mb-5 bg-white rounded">
          <address class="card-body">
            <% if(String(user_auth._id) == String(user._id)){ %>
              <button type="button" name="button" class="btn btn-primary" onclick="window.location.href='/users/update'" style="float: right;">Editar</button>
            <% } %>
            <p>
              <% if(user.country && user.show_country){ %><b>Pais:</b> <%= user.country %> <br><% } %>
              <% if(user.province && user.show_province){ %><b>Provincia:</b> <%= user.province %> <br><% } %>
              <% if(user.city && user.show_city){ %><b>Ciudad:</b> <%= user.city %> <br><% } %>
              <% if(user.address && user.show_address){ %><b>Dirección:</b> <%= user.address %> <br><% } %>
              <% if(user.phones && user.show_phones){ %><b>Telefono:</b> <%= user.phones %> <br><% } %>
              <% if(user.mail && user.show_mail){ %><b>Correo:</b> <%= user.mail %> <br><% } %>
              <% if(user.biography){ %><b>Sobre mi:</b> <%= user.biography %><% } %>
            </p>
          </address>
        </article>
      </main>
    <% } %>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
  </body>
</html>
