<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2><u>Acceder al Sistema</u></h2>
          <form action="/users/auth" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Clave</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
            </div>
            <div class="form-group form-check">
              <a href="#">¿Olvido su clave?</a>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
  </body>
</html>
