<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2><u>Registro a LoxaLibre</u></h2>
          <form action="/users/save" method="post" onsubmit="return check_pass();">
            <div class="form-group">
              <label for="name_user">Nombres</label>
              <input type="text" class="form-control" id="name_user" name="name_user" pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}" required>
            </div>
            <div class="form-group">
              <label for="last_name_user">Apellidos</label>
              <input type="text" class="form-control" id="last_name_user" name="last_name_user" pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email_account" required>
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Clave</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password_account" required>
              <small id="emailHelp" class="form-text text-muted">La contraseña debe contener almenos 1 numero, 1 mayuscula y tener almenos 8 caracteres.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Confirmar Clave</label>
              <input type="password" class="form-control" id="exampleInputPassword2" name="password_confirm" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
    <script type="text/javascript">
      function check_pass() {
        var password = document.getElementById('exampleInputPassword1').value;
        if (password == document.getElementById('exampleInputPassword2').value) {
          var letras_mayusculas = "ÁÉÍÓÚABCDEFGHYJKLMNÑOPQRSTUVWXYZ";
          var letras_minusculas = "áéíóúabcdefghyjklmnñopqrstuvwxyz";
          var numeros = "0123456789";
          let tiene_numero = false;
          let tiene_mayuscula = false;
          let tiene_minuscula = false;
          if (password.length > 7) {
            for(i = 0; i < password.length; i++){
              if (numeros.indexOf(password.charAt(i), 0) != -1){
                tiene_numero = true;
              }
              if (letras_mayusculas.indexOf(password.charAt(i), 0) != -1){
                tiene_mayuscula = true;
              }
              if (letras_minusculas.indexOf(password.charAt(i), 0) != -1){
                tiene_minuscula = true;
              }
            }
          }
          if(!tiene_numero || !tiene_mayuscula || !tiene_minuscula){
            Toast.fire({
              icon: 'error',
              title: 'La contraseña debe contener almenos 1 numero, 1 mayuscula y tener almenos 8 caracteres.'
            });
          }
          return tiene_numero && tiene_mayuscula && tiene_minuscula;
        }else{
          Toast.fire({
            icon: 'error',
            title: 'Las contraseñas no coinciden.'
          });
          return false;
        }
      }
    </script>
  </body>
</html>
