<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
    />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <%- include('../../components/nav_user'); %> <%-
    include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2 class="text-center">Registrar actividad</h2>

          <form id="activityForm" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group col">
                <label for="title">Nombre/Denominación</label>
                <input
                  placeholder="Nombre o denominación"
                  title="Nombre o denominación de actividad"
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  <% if(activity){ %>value="<%= activity.title %>"<% } %> 
                  required
                  />
              </div>
              <div class="form-group col">
                <label for="type">Tipo de actividad</label>
                <select class="form-control" name="type" id="type" required>
                  <option disabled>Seleccione un tipo</option>
                  <option value="Taller"  <% if(activity && activity.type === "Taller"){ %>selected<% } %> >Taller</option>
                  <option value="Charla" <% if(activity && activity.type === "Charla"){ %>selected<% } %>>Charla</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="lead">Breve descripción</label>
                <textarea
                  rows="4"
                  title="Breve descripción de actividad"
                  class="form-control"
                  id="lead"
                  name="lead"
                  required
                ><% if(activity){ %><%= activity.lead %><% } %></textarea>
              </div>
              <div class="form-group col">
                <label for="description">Descripción completa</label>
                <textarea
                  rows="4"
                  title="Descripción completa de actividad"
                  class="form-control"
                  id="description"
                  name="description"
                  required
                ><% if(activity){ %><%= activity.description %><% } %></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="art">Arte o afiche principal</label>
                <input
                  title="Archivo principal de actividad"
                  type="file"
                  class="form-control"
                  id="art"
                  name="art"
                  accept="image/*"
                  <% if(!activity){ %>required<% } %> 
                  <% if(activity){ %>value="<%= activity.art %>"<% } %> 
                />
              </div>

              <div class="form-group col">
                <label for="means_place"
                  >Medios o lugar donde se va a desarrollar el evento</label
                >
                <input
                  placeholder="Lugar físico o virtual donde se va a desarrollar la actividad"
                  title="Lugar físico o virtual donde se va a desarrollar la actividad"
                  type="text"
                  class="form-control"
                  id="means_places"
                  name="means_places"
                  pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}"
                  <% if(activity){ %>value="<%= activity.means_places %>"<% } %> 
                  required
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="date_start"
                  >Fecha y hora de inicio de actividad</label
                >
                <input
                  title="Fecha y hora desde que iniciará la actividad"
                  type="datetime-local"
                  class="form-control"
                  id="date_start"
                  name="date_start"
                  <% if(activity){ %>value="<%= new Date(activity.date_start).toISOString().slice(0,16) %>"<% } %> 
                  required
                />
              </div>
              <div class="form-group col">
                <label for="date_end"
                  >Fecha y hora de cierre de actividad</label
                >
                <input
                  title="Fecha y hora desde que iniciará la actividad"
                  type="datetime-local"
                  class="form-control"
                  id="date_end"
                  name="date_end"
                  <% if(activity){ %>value="<%= new Date(activity.date_end).toISOString().slice(0,16) %>"<% } %> 
                  required
                />
              </div>
            </div>

            <!-- GUEST -->
          <div id="guestContainer">
            <% if(activity){%>
              <% activity.guest.forEach(function(item){ %>
              <div class="add">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-center">Datos de invitado</h5>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="name">Nombre y apellido</label>
                        <input
                          placeholder="Nombre y apellido del invitado/a"
                          title="Nombre y apellido del invitado/a"
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          value="<%= item.name %>"
                          required
                        />
                      </div>
                      <div class="form-group col">
                        <label for="contact">Contacto</label>
                        <input
                          placeholder="Contacto del invitado"
                          title="Contacto del invitado, puede ser número telefónico, redes sociales o correo electrónico"
                          type="text"
                          class="form-control"
                          id="contact"
                          name="contact"
                          pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}"
                          value="<%= item.contact %>"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="minibiography">Biografía</label>
                      <textarea
                        rows="4"
                        title="Biografía corta del invitado/a"
                        class="form-control"
                        id="minibiography"
                        name="minibiography"
                        required
                      ><%= item.minibiography %></textarea>
                    </div>
                    <div class="form-group">
                      <label for="guest_photo">Fotografía</label>
                      <input
                        title="Fotografía del invitado"
                        type="file"
                        class="form-control"
                        id="guest_photo"
                        name="guest_photo"
                        accept="image/*"
                        value="<%= item.guest_photo %>"
                      />
                    </div>
                  </div>
                </div>
              </div>
            <% })}else{ %>
            <div class="add">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Datos de invitado</h5>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="name">Nombre y apellido</label>
                      <input
                        placeholder="Nombre y apellido del invitado/a"
                        title="Nombre y apellido del invitado/a"
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}"
                        required
                      />
                    </div>
                    <div class="form-group col">
                      <label for="contact">Contacto</label>
                      <input
                        placeholder="Contacto del invitado"
                        title="Contacto del invitado, puede ser número telefónico, redes sociales o correo electrónico"
                        type="text"
                        class="form-control"
                        id="contact"
                        name="contact"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="minibiography">Biografía</label>
                    <textarea
                      rows="4"
                      title="Biografía corta del invitado/a"
                      class="form-control"
                      id="minibiography"
                      name="minibiography"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="guest_photo">Fotografía</label>
                    <input
                      title="Fotografía del invitado"
                      type="file"
                      class="form-control"
                      id="guest_photo"
                      name="guest_photo"
                      required
                      accept="image/*"
                    />
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-sm btn-warning" id="addMore">
                Agregar otro invitado
              </button>
            </div>
            <!-- Tag -->
            <div class="form-group">
              <label for="tags">Tags</label>
              <div class="">
                <div id="email-html"></div>
                <input type="hidden" name="tags" id="emails" />
              </div>
              <div class="">
                <div class="ui-widget">
                  <input type="text" id="tags" class="form-control" />
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted"
                >Presione Ctrl + Enter para agregar un nuevo Tag.</small
              >
            </div>
            <!-- End tag select -->
            <hr />
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/activity" class="btn btn-warning">Cancelar</a>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %> <%-
    include('../../components/scripts'); %>
    <script src="/javascripts/js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#activityForm").on("submit", async function (e) {
          e.preventDefault();
          var dataFiles = new FormData();
          let art = document.getElementById("art").files[0];
          dataFiles.append("art", art);
          
          let data = getFormData($(this));
          let guest = [];
          $(".add").each(function (i) {
            let guestItem = getFormData($(this).find("input, textarea"));
            guestItem.id = i;
            guest.push(guestItem);
            let guest_photo = $(this).find("#guest_photo").prop("files");
            dataFiles.append("guest_photo-" + i, guest_photo[0]);
          });
          data.guest = guest;
          dataFiles.append("data", JSON.stringify(data));
          
          const res = await fetch("/activity/<% if(activity){ %>update/<%= activity._id %><% }else{ %>save<% } %>", {
            method: "<% if(activity){ %>PUT<% }else{ %>POST<% } %>",
            body: dataFiles,
          });
          const { redirect } = await res.json();
          window.location = redirect;
        });
      });
      $('#date_end').val(new Date().toDateInputValue());
    </script>
    <script>
      var selected = [];
      var availableTags = [
        <% if(tags && tags.length > 0){tags.forEach((item_tag) => { %>"<%= item_tag.name %>",<% });} %>
       ];

        $( function() {
          $("#tags").autocomplete({
            source: availableTags,
            select: function( event, ui){
              var value = ui.item.value;
              selected.push(value);
              refreshDiv();
              var i = availableTags.indexOf(value);
              availableTags.splice(i, 1);
              event.preventDefault();
              $("#tags").focusout();
              $("#tags").val('');
            },
            <% if (activity && activity.tags && activity.tags.length > 0) { %>
            create: function(event, ui){
              let value = "";
              let i = "";
              <% activity.tags.forEach((item_tag) => { %>
                value = "<%= item_tag.name %>";
                selected.push(value);
                refreshDiv();
                i = availableTags.indexOf(value);
                availableTags.splice(i, 1);
                event.preventDefault();
              <% }); %>
            },
            <% } %>
            response: function(event, ui){
              var value = (ui && ui.item  && ui.item.value)? ui.item.value : "";
              $(document).keypress(function(e) {
                if(e.which == 10) {
                  if (!value || value == "") {
                    value = document.getElementById("tags").value;
                    if (value && value != "") {
                      selected.push(value);
                      refreshDiv();
                      var i = availableTags.indexOf(value);
                      availableTags.splice(i, 1);
                      event.preventDefault();
                    }
                    $("#tags").focusout();
                    $("#tags").val('');
                  }
                }
              });
            }
          });
        });

        function refreshDiv(){
        $("#emails").val(selected.join(','));
          var email_html = selected.map(function(f, i){
          return "<span class='btn btn-info btn-sm' style='margin: 3px;'>"+f+"&nbsp;&nbsp; <span onclick=\"removeEmail('"+f+"')\" style='color:red'>x</span></span>";
        });
          $("#email-html").html(email_html);
        }

        function removeEmail(email){
          availableTags.push(email);
          var i = selected.indexOf(email);
          selected.splice(i, 1);
          refreshDiv();
        }
    </script>
  </body>
</html>
