<div class="col-4 mb-4 text-justify">
  <div class="card shadow p-3 mb-4 bg-white rounded">
    <a href="/read" style="text-decoration: none; color: #212121;">
      <img src="<%= item.image %>" class="card-img-top" alt="imagen <%= item.title %>">
      <div class="card-body">
        <h5 class="card-title text-center"><%= item.title %></h5>
        <p class="card-text"><i class="fas fa-calendar-alt"></i> <span style="color: #f3b800;"><%= item.date %></span><br><%= item.text %></p>
        <!-- <a href="/read" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </a>
  </div>
</div>
