<div class="col mb-4">
  <div class="card shadow p-3 mb-4 bg-white rounded">
    <a href="/read" style="text-decoration: none; color: #212121;">
      <img src="<%= item.image %>" class="card-img-top" alt="imagen <%= item.title %>">
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <div class="card-text text-justify"><div style="float: left; width: 11%; border-top: green 5px solid;border-bottom: green 5px dashed;" class="text-center"><span><%= item.number %> <%= item.month %></span></div><p style=""><%= item.text %></p></div>
        <!-- <a href="/read" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </a>
  </div>
</div>
