<footer class="clearfix container-fluid bg-secondary" style="right: 0; bottom: 0; left: 0;">
  <div class="row">
    <div class="col-4 text-center">
      <img src="/images/descarga-removebg-preview.png" class="d-inline-block align-top" alt="" loading="lazy">
    </div>
    <div class="col-4 text-center">
      <h2>Texto por definir</h2>
    </div>
    <div class="col-4 text-center">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
