<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/images/social-network-loxalibre_400x400.png">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap & FontAwesome CSS -->
<link rel="stylesheet" href="/bootstrap-4.5.3-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/all.css">
<!-- Bootstrap & FontAwesome JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="/fontawesome-free-5.15.1-web/js/all.js"></script>

<link rel="stylesheet" href="/stylesheets/style.css">

<title><%= title %></title>

<script type="text/javascript">
  function getDateString(date, format){
    var months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    var date = new Date(date);

    var hour = date.getHours();
    hour = (hour < 10 ? "0" : "") + hour;

    var min = date.getMinutes();
    min = (min < 10 ? "0" : "") + min;

    var sec = date.getSeconds();
    sec = (sec < 10 ? "0" : "") + sec;

    var year = date.getFullYear();

    var month = date.getMonth() + 1;
    month = (month < 10 ? "0" : "") + month;
    var add = (hour == "19" && min == "00" && sec == "00")? 1 : 0;
    var day = date.getDate() + add;
    day = (day < 10 ? "0" : "") + day;
    var out = "";
    out = format.replace(/DD/g, day);
    out = out.replace(/MM/g, month);
    out = out.replace(/S_MONTH/g, months[month-1]);
    out = out.replace(/YYYY/g, year);
    out = out.replace(/HH/g, hour);
    out = out.replace(/MIN/g, min);
    return out;
  }
</script>
