<nav class="container navbar navbar-light nav-pills">
  <a class="navbar-brand" href="/">
    <img src="/images/descarga-removebg-preview.png" class="d-inline-block align-top" style="width: 40%" alt="" loading="lazy"/>
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link <% if(title == "LoxaLibre"){ %>active<% } %>" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Estafeta - LoxaLibre"){ %>active<% } %>" href="/estafeta">Estafeta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Actividades - LoxaLibre"){ %>active<% } %>" href="/actividades">Actividades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Quienes somos - LoxaLibre"){ %>active<% } %>" href="/quienes_somos">¿Quiénes somos?</a>
    </li>
  </ul>
</nav>
