<nav style="width: 100%; background-color: #343a40;" class="text-right">
  <% if(locals.user){ %>
    <a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/users/profile"><i class="fas fa-users"></i> <%= locals.user.name %> <%= locals.user.last_name %></a>
    &nbsp;
    &nbsp;
    &nbsp;
    <% if(locals.user.rol != "Member"){ %>
      <a href="/bitacora"><i class="fas fa-users"></i> Bitacora</a>
      &nbsp;
      &nbsp;
      &nbsp;
    <% } %>
  <% }else{ %>
    <a href="/users/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/users/register"><i class="fas fa-user-plus"></i> Registrarse</a>
  <% } %>
  &nbsp;
  &nbsp;
</nav>
