<nav class="container navbar navbar-light nav-pills">
  <a class="navbar-brand" href="/">
    <img src="/images/descarga-removebg-preview.png" class="d-inline-block align-top" style="width: 40%" alt="" loading="lazy"/>
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link <% if(title == "LoxaLibre"){ %>active<% } %>" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Estafeta - LoxaLibre"){ %>active<% } %>" href="/users">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Actividades - LoxaLibre"){ %>active<% } %>" href="/activity">Actividades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Eventos - LoxaLibre"){ %>active<% } %>" href="/event">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Articulo - LoxaLibre"){ %>active<% } %>" href="/article">Articulos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Proyectos - LoxaLibre"){ %>active<% } %>" href="/project">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Sobre nosotros - LoxaLibre"){ %>active<% } %>" href="/about">Sobre nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(title == "Etiquetas - LoxaLibre"){ %>active<% } %>" href="/tag">Etiquetas</a>
    </li>
  </ul>
</nav>
