<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script src="/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript">
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 5000,
    timerProgressBar: true,
    onOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  });
  <%if (message && message.length > 0){%>
    <%message.forEach(function(item){%>
      Toast.fire({
        icon: '<%= item.icon %>',
        title: '<%= item.msg %>'
      });
    <%});%>
  <%}%>
</script>
<script>
  $(document).ready(function () {
    var inputs = 1;
    // Añadir nuevo
    $("#addMore").click(function () {
      // $(".btnDel:disabled").removeAttr("disabled");
      var c = $(".add:first").clone(true);
      // c.children(":text").attr("name", "input" + ++inputs);
      $(".add:last").after(c);
    });

    $(".btnDel").click(function () {
      if (confirm("continue delete?")) {
        --inputs;
        $(this).closest(".add").remove();
        $(".btnDel").attr("disabled", $(".add").length < 2);
      }
    });
  });

  function getFormData($form) {
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function (n, i) {
      indexed_array[n["name"]] = n["value"];
    });

    return indexed_array;
  }
</script>
<script type="text/javascript">
  var show_Html = function (txt) {
    txt = txt.replace(/&lt;/g, "<");
    txt = txt.replace(/&gt;/g, ">");
    txt = txt.replace(/&amp;nbsp;/g, " ");
    txt = txt.replace(/&#34;/g, "");
    txt = txt.replace(/strong/g, "b");
    return txt;
  };
</script>
