<form class="row justify-content-center col-12" action="/" method="post">
  <div class="form-group col-3 text-center">
    <input type="date" class="form-control" name="date" value="" placeholder="yyyy-mm-dd">
  </div>
  <div class="form-group col-3 text-center">
    <select class="form-control" name="search_criteria">
      <option value="">Buscar en....</option>
      <option value="">Titulo</option>
      <option value="">Descripción</option>
      <option value="">Todo</option>
    </select>
  </div>
  <div class="form-group col-3 text-center">
    <input type="text" class="form-control" name="text_search" value="">
  </div>
  <div class="form-group col-3 text-center">
    <button type="button" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
  </div>
</form>
