<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_<%= item._id %>">Ver Integrantes</a>
<!-- Modal -->
<div class="modal fade" id="modal_<%= item._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">
          Team del proyecto <%= item.name %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Project Manager: </b> <p><a href="/users/profile/<%= item.pm._id %>"><%= item.pm.name %> <%= item.pm.last_name %></a></p>
        <b>Team:</b>
        <div class="list-group">
          <%if(item.team && item.team.length > 0){%>
            <%item.team.forEach((member) => {%>
              <%if(String(item.pm._id) != String(member._id)){%>
              <a href="/users/profile/<%= member._id %>" class="list-group-item list-group-item-action"><%= member.name %> <%= member.last_name %></a>
              <%}%>
            <%});%>
          <%}%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
