<li>
  <a target="_blank" href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_<%= item._id %>"><b><%= item.title %></b></a>
  <a href="#" class="float-right"><script>document.write(getDateString('<%= item.date %>', 'DD de S_MONTH del YYYY a las HH:MIN'));</script></a>
  <p>
    <%= item.lead %>
  </p>
</li>
<!-- Modal -->
<div class="modal fade" id="modal_<%= item._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">
          <%= item.title %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <small class="text-right" style="color: #212121; float: right;"><span style="color: #212121;"><strong><i class="fas fa-calendar-plus"></i> Creado:</strong></span> <script>document.write(getDateString('<%= item.date %>', 'DD de S_MONTH del YYYY a las HH:MIN'));</script>; <span style="color: #212121;"><strong><i class="fas fa-calendar-check"></i> Ultima Actualización:</strong></span> <script>document.write(getDateString('<%= item.date_updated %>', 'DD de S_MONTH del YYYY a las HH:MIN'));</script>; <span style="color: #212121;"><strong><i class="fas fa-user-astronaut"></i> Autor:</strong></span> <a href="/users/profile/<%= item._id %>"><%= item.author.name %> <%= item.author.last_name %></a></small> <br> <br>
        <p id="write_html_<%= item._id %>">
          <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
              document.getElementById("write_html_<%= item._id %>").innerHTML = show_Html('<%= item.description %>');
            });
          </script>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
