<html lang="en">
  <head>
    <%- include('components/head'); %>
  </head>
  <body>
    <%- include('components/nav_user'); %>
    <%- include('components/nav'); %>
    <main class="container-xl">
      <section class="row">
        <article class="col-12">
          <div id="carouselExampleIndicators" class="carousel slide alto" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/corousel/drupal-mas-que-un-cms-3-728.jpg" class="d-block w-100 alto"alt="..." />
              </div>
              <div class="carousel-item">
                <img src="/images/corousel/maxresdefault_live.jpg" class="d-block w-100 alto" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="/images/corousel/maxresdefault_live_menf.jpg" class="d-block w-100 alto" alt="..." />
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </article>
      </section>
      <section class="row">
        <article class="col-12 text-center my-3">
          <h2 class="align-middle justify-content-center">
            LoxaLibre Uniendo a Loja con software libre.
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
            pariatur numquam provident dolores ad illo neque odio fuga, nulla
            quae temporibus possimus excepturi voluptatibus? Exercitationem ad
            at sunt hic maiores.
          </p>
        </article>
      </section>
      <section class="row">
        <article class="col-8 mx-auto my-3">
          <ul class="timeline">
            <% timeline.forEach((item) => { %>
              <%- include("components/timeline", {item: item}); %>
            <% }); %>
          </ul>
        </article>
      </section>
    </main>
    <%- include('components/footer'); %>
    <%- include('components/scripts'); %>
  </body>
</html>
