<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('components/head'); %>
    <style media="screen">
      .alto{
        height: 500px;
      }
    </style>
  </head>
  <body>
    <%- include('components/nav_user'); %>
    <%- include('components/nav'); %>
    <main class="container-xl">
      <section class="row">
        <article class="col-3">
          <div class="nav flex-column nav-pills btn-group-vertical btn-group-lg" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link btn btn-secondary active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-charlas" role="tab" aria-controls="v-pills-home" aria-selected="true">Charlas</button>
            <button class="nav-link btn btn-secondary" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-eventos" role="tab" aria-controls="v-pills-profile" aria-selected="false">Eventos</button>
            <button class="nav-link btn btn-secondary" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-talleres" role="tab" aria-controls="v-pills-messages" aria-selected="false">Talleres</button>
            <button class="nav-link btn btn-secondary" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-proyectos" role="tab" aria-controls="v-pills-settings" aria-selected="false">Proyectos</button>
          </div>
        </article>
        <article class="col-9">
          <div id="carouselExampleIndicators" class="carousel slide alto" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/corousel/drupal-mas-que-un-cms-3-728.jpg" class="d-block w-100 alto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/corousel/maxresdefault_live.jpg" class="d-block w-100 alto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/corousel/maxresdefault_live_menf.jpg" class="d-block w-100 alto" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </article>
      </section>
      <br>
      <section class="tab-content" id="v-pills-tabContent">
        <section class="tab-pane fade show active" id="v-pills-charlas" role="tabpanel" aria-labelledby="v-pills-charlas-tab">
          <%- include('components/searcher'); %>
          <article class="row justify-content-center">
            <% charlas.forEach((item) => { %>
              <%- include("components/card_item_2", {item: item}); %>
            <% }); %>
            <%- include('components/pager'); %>
          </article>
        </section>
        <section class="tab-pane fade" id="v-pills-eventos" role="tabpanel" aria-labelledby="v-pills-eventos-tab">
          <%- include('components/searcher'); %>
          <article class="row justify-content-center">
            <% eventos.forEach((item) => { %>
              <%- include("components/card_item_2", {item: item}); %>
            <% }); %>
            <%- include('components/pager'); %>
          </article>
        </section>
        <section class="tab-pane fade" id="v-pills-talleres" role="tabpanel" aria-labelledby="v-pills-talleres-tab">
          <%- include('components/searcher'); %>
          <article class="row justify-content-center">
            <% talleres.forEach((item) => { %>
              <%- include("components/card_item_2", {item: item}); %>
            <% }); %>
            <%- include('components/pager'); %>
          </article>
        </section>
        <section class="tab-pane fade" id="v-pills-proyectos" role="tabpanel" aria-labelledby="v-pills-proyectos-tab">
          <%- include('components/searcher'); %>
          <article class="row justify-content-center">
            <% proyectos.forEach((item) => { %>
              <%- include("components/card_item_2", {item: item}); %>
            <% }); %>
            <%- include('components/pager'); %>
          </article>
        </section>
      </section>
    </main>
    <%- include('components/footer'); %>
    <%- include('components/scripts'); %>
  </body>
</html>
