<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('components/head'); %>
  </head>
  <body>
    <%- include('components/nav_user'); %>
    <%- include('components/nav_admin'); %>
    <main class="container-xl">
      <div class="list-group">
        <% binnacle.forEach((item) => { %>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= item.author.name %> <%= item.author.last_name %></h5>
            <small><script>document.write(getDateString('<%= item.date_action %>', 'YYYY-MM-DD HH:MIN'));</script></small>
          </div>
          <p class="mb-1"><%= item.description %></p>
          <small></small>
        </div>
        <% }); %>
      </div>
    </main>
    <%- include('components/footer'); %>
    <%- include('components/scripts'); %>
  </body>
</html>
