<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('components/head'); %>
  </head>
  <body>
    <%- include('components/nav_user'); %>
    <%- include('components/nav'); %>
    <main class="container">
      <section class="row">
        <article class="col-11 row">
          <img src="/images/corousel/maxresdefault_live.jpg" class="img-fluid" alt="Responsive image">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>
        <aside class="col-1">
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
            <img src="/images/corousel/maxresdefault_live.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="/read" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
            <img src="/images/corousel/maxresdefault_live.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="/read" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
            <img src="/images/corousel/maxresdefault_live.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="/read" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </aside>
      </section>
    </main>
    <%- include('components/footer'); %>
    <%- include('components/scripts'); %>
  </body>
</html>
