<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('components/head'); %>
    <style media="screen">
      .alto{
        height: 700px;
      }
    </style>
  </head>
  <body>
    <%- include('components/nav_user'); %>
    <!-- Image and text -->
    <nav class="navbar navbar-light nav-pills" style="position: absolute;  width: 100%; z-index: 2;">
      <a class="navbar-brand" href="/">
        <img src="/images/descarga-removebg-preview.png" class="d-inline-block align-top" style="width: 40%;" alt="" loading="lazy">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estafeta">Estafeta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actividades">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quienes_somos">¿Quiénes somos?</a>
        </li>
      </ul>
    </nav>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade alto" data-ride="carousel" style="position: absolute; width: 100%; z-index: 1;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/corousel/drupal-mas-que-un-cms-3-728.jpg" class="d-block w-100 alto" alt="..." data-interval="1000">
        </div>
        <div class="carousel-item">
          <img src="/images/corousel/maxresdefault_live.jpg" class="d-block w-100 alto" alt="..." data-interval="1000">
        </div>
        <div class="carousel-item">
          <img src="/images/corousel/Ej5iwwTXYAEiUEY.jpg" class="d-block w-100 alto" alt="..." data-interval="1000">
        </div>
        <div class="carousel-item">
          <img src="/images/corousel/maxresdefault_live_menf.jpg" class="d-block w-100 alto" alt="..." data-interval="1000">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="clearfix" style="position: relative;height: 700px;"></div>
    <main class="container-fluid">
      <hr style="background-color: #212121;">
      <div class="row">
        <div class="col-6 text-center">
          <img src="/images/descarga-removebg-preview.png" class="d-inline-block align-top" alt="" loading="lazy">
        </div>
        <div class="col-6 row text-center">
          <div class="col-12"></div>
          <h1 class="align-middle justify-content-center" align="center">LoxaLibre Uniendo a Loja con software libre.</h1>
        </div>
      </div>
      <hr style="background-color: #212121;">
      <section class="row">
        <article class="col-6">
          <div class="card shadow-lg bg-white rounded text-center">
            <div class="card-header">
              Novedades
            </div>
            <div class="card-body row justify-content-center">
              <% novedades.forEach((item) => { %>
                <%- include("components/card_item", {item: item}); %>
              <% }); %>
            </div>
            <div class="card-footer text-muted">
              <a href="/actividades" class="btn btn-primary">Ver Más</a>
            </div>
          </div>
        </article>
        <article class="col-6">
          <div class="card shadow-lg bg-white rounded text-center">
            <div class="card-header">
              Articulos
            </div>
            <div class="card-body row justify-content-center">
              <% articulos.forEach((item) => { %>
                <%- include("components/card_item", {item: item}); %>
              <% }); %>
            </div>
            <div class="card-footer text-muted">
              <a href="/estafeta" class="btn btn-primary">Ver Más</a>
            </div>
          </div>
        </article>
      </section>
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-5 row text-center">
              <div class="col-12"></div>
              <h1 class="align-middle justify-content-center" align="center">Se parte de nosotros.</h1>
            </div>
            <div class="col-2 row">
              <div class="col-12"></div>
              <button type="button" class="btn btn-primary btn-sm">Registrate</button>
              <div class="col-12"></div>
            </div>
            <div class="col-5 text-center">
              <img src="/images/descarga-removebg-preview.png" class="d-inline-block align-top" alt="" loading="lazy">
            </div>
          </div>
        </div>
        
      </article>
    </main>
    <%- include('components/footer'); %>
    <%- include('components/scripts'); %>
  </body>
</html>
