<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('components/head'); %>
  </head>
  <body>
    <%- include('components/nav_user'); %>
    <%- include('components/nav'); %>
    <main class="container-xl">
      <div class="row">
        <div class="col-12 text-center">
          <img src="/images/corousel/Ej5iwwTXYAEiUEY.jpg" class="img-fluid" alt="" loading="lazy"/>
        </div>
        <div class="col-12">
          <br>
          <h2 class="text-center">Titulo del Articulo Principal</h2>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
        </div>
      </div>
      <!-- <section class="tab-pane fade" id="v-pills-talleres" role="tabpanel" aria-labelledby="v-pills-talleres-tab"> -->
      <article class="row justify-content-center">
        <%- include('components/searcher'); %>
        <% estafeta.forEach((item) => { %>
          <%- include("components/card_item_2", {item: item}); %>
          <% }); %>
          <%- include('components/pager'); %>
        </article>
        <!-- </section> -->
    </main>
    <%- include('components/footer'); %>
    <%- include('components/scripts'); %>
  </body>
</html>
