<html lang="es-Es">
<head>
    <%- include('../../components/head'); %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <%- include('../../components/nav_user'); %> <%-
    include('../../components/nav_admin'); %>
    <main class="container">
        <article class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h2 class="text-center">Registrar configuración</h2>
                <form id="settingForm" enctype="multipart/form-data">
                  <div class="row">
                    <div class="form-group col">
                        <label for="location">Ubicación de elemento</label>
                        <select class="form-control" name="location" id="location" required>
                          <option disabled>Seleccione una opción</option>
                          <option value="principal"  <% if(setting && setting.location === "principal"){ %>selected<% } %> >Principal</option>
                          <option value="pie_pagina" <% if(setting && setting.location === "pie_pagina"){ %>selected<% } %>>Pie de página</option>
                          <option value="quienes_somos" <% if(setting && setting.location === "quienes_somos"){ %>selected<% } %>>Quienes somos</option>
                        </select>
                      </div>
                </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="text">Texto a presentar</label>
                            <input
                              placeholder="Texto a presentar"
                              title="Texto a presentar"
                              type="text"
                              class="form-control"
                              id="text"
                              name="text"
                              <% if(setting){ %>value="<%= setting.text %>"<% } %>
                            />
                          </div>
                          <div class="form-group col">
                            <label for="text_position">Posición de texto</label>
                            <select class="form-control" name="text_position" id="text_position">
                              <option disabled>Seleccione una opción</option>
                              <option value="left"  <% if(setting && setting.text_position === "left"){ %>selected<% } %> >Izquierda</option>
                          <option value="center" <% if(setting && setting.text_position === "center"){ %>selected<% } %>>Centro</option>
                          <option value="right" <% if(setting && setting.text_position === "right"){ %>selected<% } %>>Derecha</option>
                            </select>
                          </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="image">Seleccione imagen</label>
                            <input
                              title="Seleccionar imagen a usar"
                              type="file"
                              class="form-control"
                              id="image"
                              name="image"
                              accept="image/*"
                            />
                          </div>
                          <div class="form-group col">
                            <label for="image_position">Posición de imagen</label>
                            <select class="form-control" name="image_position" id="image_position">
                              <option disabled>Seleccione una opción</option>
                              <option value="left"  <% if(setting && setting.image_position === "left"){ %>selected<% } %> >Izquierda</option>
                              <option value="center" <% if(setting && setting.image_position === "center"){ %>selected<% } %>>Centro</option>
                              <option value="right" <% if(setting && setting.image_position === "right"){ %>selected<% } %>>Derecha</option>
                            </select>
                          </div>
                    </div>
                    <div id="arrayContainer">
                        <% if(setting){%>
                            <%setting.array.forEach(function(item){%>
                                <div class="add">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title text-center">Elementos</h5>
                                        <div class="row">
                                          <div class="form-group col">
                                            <label for="title">Denominación</label>
                                            <input
                                              placeholder="Elemento"
                                              title="Elemento, puede ser enlace a redes sociale, website u otros"
                                              type="text"
                                              class="form-control"
                                              id="title"
                                              name="title"
                                              value="<%= item.title %>"
                                            />
                                          </div>
                                          <div class="form-group col">
                                            <label for="url">Enlace</label>
                                            <input
                                              placeholder="Posición del elemento"
                                              title="Posición del elemento"
                                              type="text"
                                              class="form-control"
                                              id="url"
                                              name="url"
                                              value="<%= item.url %>"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label for="icon">Ícono</label>
                                            <input
                                              title="Icono"
                                              type="file"
                                              class="form-control"
                                              id="icon"
                                              name="icon"
                                              accept="image/*"
                                              value="<%= item.icon %>"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        <%})}else{%>
                            <div class="add">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Elementos</h5>
                                    <div class="row">
                                      <div class="form-group col">
                                        <label for="title">Denominación</label>
                                        <input
                                          placeholder="Elemento"
                                          title="Elemento, puede ser enlace a redes sociale, website u otros"
                                          type="text"
                                          class="form-control"
                                          id="title"
                                          name="title"
                                        />
                                      </div>
                                      <div class="form-group col">
                                        <label for="url">Enlace</label>
                                        <input
                                          placeholder="Posición del elemento"
                                          title="Posición del elemento"
                                          type="text"
                                          class="form-control"
                                          id="url"
                                          name="url"
                                        />
                                      </div>
                                      <div class="form-group">
                                        <label for="icon">Ícono</label>
                                        <input
                                          title="Icono"
                                          type="file"
                                          class="form-control"
                                          id="icon"
                                          name="icon"
                                          accept="image/*"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        <%}%>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-sm btn-warning" id="addMore">
                          Agregar otro elemento
                        </button>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="array_position">Posición de elemento</label>
                            <select class="form-control" name="array_position" id="array_position">
                              <option disabled>Seleccione una opción</option>
                              <option value="left"  <% if(setting && setting.array_position === "left"){ %>selected<% } %> >Izquierda</option>
                              <option value="center" <% if(setting && setting.array_position === "center"){ %>selected<% } %>>Centro</option>
                              <option value="right" <% if(setting && setting.array_position === "right"){ %>selected<% } %>>Derecha</option>
                            </select>
                          </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a href="/setting" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </article>
    </main>
    <%- include('../../components/footer'); %> <%-
    include('../../components/scripts'); %>
    <script src="/javascripts/js.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
        $(document).ready(function () {
          $("#settingForm").on("submit", async function (e) {
            e.preventDefault();
            var dataFiles = new FormData();
            let image = document.getElementById("image").files[0];
            dataFiles.append("image", image);
console.log("image", image);
            let data = getFormData($(this));
            let array = [];
            $(".add").each(function (i) {
              let arrayItem = getFormData($(this).find("input"));
              arrayItem.id = i;
              array.push(arrayItem);
              let icon = $(this).find("#icon").prop("files");
              dataFiles.append("icon-" + i, icon[0]);
            });
            data.array = array;
            dataFiles.append("data", JSON.stringify(data));
  
            const res = await fetch("/setting/<% if(setting){ %>update/<%= setting._id %><% }else{ %>save<% } %>", {
              method: "<% if(setting){ %>PUT<% }else{ %>POST<% } %>",
              body: dataFiles,
            });
            const { redirect } = await res.json();
            window.location = redirect;
          });
        });
      </script>
</body>
</html>