<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <a href="/about/new" style="float: right;" class="btn btn-primary">Agregar Nuevo</a>
          <h2><u>Listado de Abouts</u></h2>
          <table class="table" id="tabla">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Introducción</th>
                <th scope="col">actualizado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% abouts_find.forEach((item, i) => { %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%= item.title %></td>
                  <td><%= item.introduction %></td>
                  <td><script>document.write(getDateString('<%= item.updated_at %>', 'YYYY-MM-DD HH:MIN'));</script></td>
                  <td>
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about/update/<%= item._id %>"><i class="fas fa-edit"></i> Editar</a>
                        <a class="dropdown-item" href="/about/list/slider/<%= item._id %>"><i class="fas fa-images"></i> Slider</a>
                        <a class="dropdown-item" href="/about/list/points/<%= item._id %>"><i class="fas fa-ellipsis-v"></i> Puntos</a>
                        <a class="dropdown-item" href="/about/down/<%= item._id %>"><% if(item.status){ %><i class="fas fa-thumbs-down"></i> Desactivar<% }else{ %><i class="fas fa-thumbs-up"></i> Activar<% } %></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/about/delete/<%= item._id %>"><i class="fas fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).ready( function () {
        $('#tabla').DataTable();
      });
    </script>
  </body>
</html>
