<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" style="float: right; top: 0;" data-toggle="modal" data-target="#staticBackdrop">Agregar Imagen</button>
          <h2><u>Listado de Imagenes del Slider "<%= about_find.title %>"</u></h2>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="" action="/about/add/image/<%= about_find._id %>" method="post" enctype="multipart/form-data">
                  <div class="modal-body">
                    <div class="form-group custom-file">
                      <input type="file" class="custom-file-input" id="customFileLangHTML" accept="image/*" name="photo_user" multiple>
                      <label class="custom-file-label" for="customFileLangHTML" data-browse="Seleccionar">Imagenes del Slider</label>
                      <small id="imagenHelp" class="form-text text-muted">Puede seleccionar una o varias imagenes, debe hacerlo si cerrar la ventana.</small>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <% if(about_find.image_slider && about_find.image_slider.length > 0){ %>
            <% about_find.image_slider.forEach((item) => { %>
            <div class="card col-4">
              <div class="card-body">
                <div class="card bg-dark text-white">
                  <img src="<%= item.img %>" class="card-img" alt="...">
                  <div class="card-img-overlay justify-content-center text-center">
                    <p class="card-text"><a href="/about/delete/slider/<%= about_find._id %>/<%= item._id %>" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</a> <% if(item.isVisible){ %><a href="/about/down/slider/<%= about_find._id %>/<%= item._id %>" class="btn btn-secondary"><i class="fas fa-eye-slash"></i> Ocultar</a><% }else{ %><a href="/about/down/slider/<%= about_find._id %>/<%= item._id %>" class="btn btn-info"><i class="fas fa-eye"></i> Mostrar</a><% } %></p>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
            <% } %>
          </div>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
  </body>
</html>
