<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <a href="/about/new/point/<%= about_find._id %>" style="float: right;" class="btn btn-primary">Agregar Nuevo</a>
          <h2><u>Listado de Puntos del Timeline de "<%= about_find.title %>"</u></h2>
          <table class="table" id="tabla">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Mini Descripción</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Ultima Modificación</th>
                <th scope="col">Autor</th>
                <th scope="col">Preview</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% if(about_find.points && about_find.points.length > 0){ %>
              <% about_find.points.forEach((item, i) => { %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%= item.title %></td>
                  <td><%= item.lead %></td>
                  <td><script>document.write(getDateString('<%= item.date %>', 'YYYY-MM-DD HH:MIN'));</script></td>
                  <td><script>document.write(getDateString('<%= item.date_updated %>', 'YYYY-MM-DD HH:MIN'));</script></td>
                  <td><%= item.author.name %> <%= item.author.last_name %></td>
                  <td><%- include("../../components/timeline", {item: item}); %></td>
                  <td>
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about/update/point/<%= about_find._id %>/<%= item._id %>"><i class="fas fa-edit"></i> Editar</a>
                        <a class="dropdown-item" href="/about/down/point/<%= about_find._id %>/<%= item._id %>"><% if(item.isVisible){ %><i class="fas fa-thumbs-down"></i> Desactivar<% }else{ %><i class="fas fa-thumbs-up"></i> Activar<% } %></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/about/delete/point/<%= about_find._id %>/<%= item._id %>"><i class="fas fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              <% }); %>
              <% } %>
            </tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
  </body>
</html>
