<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2><u>Ingresar un nuevo About</u></h2>
          <form action="/about/<% if(about_find){ %>update/<%= about_find._id %><% }else{ %>new<% } %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Titulo</label>
              <input type="text" class="form-control" id="title" name="title" pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}" <% if(about_find){ %>value="<%= about_find.title %>"<% } %> required>
            </div>
            <div class="form-group">
              <label for="introduction">Introducción</label>
              <textarea class="form-control" id="introduction" rows="3" name="introduction" required><% if(about_find){ %><%= about_find.introduction %><% } %></textarea>
            </div>
            <% if(!about_find){ %>
              <div class="form-group custom-file">
                <input type="file" class="custom-file-input" id="customFileLangHTML" accept="image/*" name="photo_user" multiple>
                <label class="custom-file-label" for="customFileLangHTML" data-browse="Seleccionar">Imagenes del Slider</label>
                <small id="imagenHelp" class="form-text text-muted">Puede seleccionar una o varias imagenes, debe hacerlo si cerrar la ventana.</small>
              </div>
            <% } %>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
  </body>
</html>
