<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" />
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2><u>Ingresar un nuevo Punto al About "<%= about_find.title %>"</u></h2>
          <form action="/about/<% if(point_find){ %>update/point/<%= about_find._id %>/<%= point_find._id %><% }else{ %>add/point/<%= about_find._id %><% } %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Titulo</label>
              <input type="text" class="form-control" id="title" name="title" <% if(point_find){ %>value="<%= point_find.title %>"<% } %> required>
            </div>
            <div class="form-group">
              <label for="lead">Descripción Corta</label>
              <textarea class="form-control" id="lead" rows="3" name="lead" minlength="10" maxlength="120" data-length="120" required><% if(point_find){ %><%= point_find.lead %><% } %></textarea>
              <small id="imagenHelp" class="form-text text-muted">Ingrese una descripción pequeña del evento, desde 10 hasta 120 carácteres.</small>
            </div>
            <!-- Rich Editor -->
            <div class="form-group">
              <p>Descripción del Point</p>
              <textarea id="description" name="description" class="materialize-textarea" required style="display: none;"></textarea>
              <textarea id="description_json" name="description_json" class="materialize-textarea" required style="display: none;"></textarea>
              <!-- <label for="description">Descripción *</label> -->
              <span class="helper-text">
                Ingrese la descripción
              </span>
              <div id="standalone-container">
                <div id="toolbar-container">
                  <span class="ql-formats">
                    <select class="ql-font"></select>
                    <select class="ql-size"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                  </span>
                  <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-header" value="1"></button>
                    <button class="ql-header" value="2"></button>
                    <button class="ql-blockquote"></button>
                    <button class="ql-code-block"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-direction" value="rtl"></button>
                    <select class="ql-align"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                    <button class="ql-video"></button>
                    <button class="ql-formula"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-clean"></button>
                  </span>
                </div>
                <div id="editor"></div>
              </div>
            </div>
            <!-- Fin Rich Editor -->
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
      var quill = new Quill('#editor', {
        modules: {
          syntax: true,
          toolbar: '#toolbar-container'
        },
        placeholder: 'Escriba la descripción completa.',
        theme: 'snow'
      });
      <% if (point_find && point_find.description_json) { %>
        let str = '<%= JSON.stringify(point_find.description_json) %>';
        if (str != '') {
          str = str.replace(/&#34;/g, '\"');
          //str = JSON.stringify(str);
          str = str.substring(1, str.length);
          str = str.substring(0, str.length - 1);
          quill.setContents(JSON.parse(str).ops);
        }
      <% } %>
      quill.on('text-change', function (delta, oldDelta, source) {
        if (source == "user") {
          document.getElementById("description_json").innerHTML = JSON.stringify(quill.getContents(), null, 2);
          document.getElementById("description").innerHTML = document.getElementsByClassName("ql-editor")[0].innerHTML;
        }
      });
    </script>
  </body>
</html>
