<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body>
    <%- include('../../components/nav_user'); %> <%-
    include('../../components/nav_admin'); %>

    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2 class="text-center">Registrar etiqueta</h2>
          <form action="/tag/<% if(tag){ %>update/<%= tag._id %><% }else{ %>save<% } %>" method="post">
            <div class="form-group">
              <label for="name">Nombre de etiqueta</label>
              <input
                placeholder="Nombre de etiqueta"
                title="Nombre de etiqueta"
                type="text"
                class="form-control"
                id="name"
                name="name"
                pattern="[ñÑáéíóúÁÉÍÓÚa-zA-Z ]{2,254}"
                required
                <% if(tag){ %>value="<%= tag.name %>"<% } %> 
              />
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/tag" class="btn btn-warning">Cancelar</a>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %> <%-
    include('../../components/scripts'); %>
  </body>
</html>
