<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <a href="/project/new/" style="float: right;" class="btn btn-primary">Agregar Nuevo</a>
          <h2><u>Listado de Proyectos</u></h2>
          <table class="table" id="tabla">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Mini Descripción</th>
                <th scope="col">Inicio</th>
                <th scope="col">Duración</th>
                <th scope="col">Team</th>
                <th scope="col">Actualizado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% projects_find.forEach((item, i) => { %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%= item.name %></td>
                  <td><%= item.lead %></td>
                  <td><script>document.write(getDateString('<%= item.date_start %>', 'YYYY-MM-DD'));</script></td>
                  <td><%= item.duration %></td>
                  <td><%- include("../../components/team", {item: item}); %></td>
                  <td><script>document.write(getDateString('<%= item.updated_at %>', 'YYYY-MM-DD HH:MIN'));</script></td>
                  <td>
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/project/update/<%= item._id %>"><i class="fas fa-edit"></i> Editar</a>
                        <a class="dropdown-item" href="/project/down/<%= item._id %>"><% if(item.status){ %><i class="fas fa-thumbs-down"></i> Desactivar<% }else{ %><i class="fas fa-thumbs-up"></i> Activar<% } %></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/project/delete/<%= item._id %>"><i class="fas fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).ready( function () {
        $('#tabla').DataTable();
      });
    </script>
  </body>
</html>
