<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <%- include('../../components/nav_user'); %>
    <%- include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2><u>Ingresar un nuevo Proyecto</u></h2>
          <form action="/project/<% if(project_find){ %>update/<%= project_find._id %><% }else{ %>new<% } %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Titulo</label>
              <input type="text" class="form-control" id="title" name="name" <% if(project_find){ %>value="<%= project_find.name %>"<% } %> required>
            </div>
            <div class="form-group">
              <label for="date_start">Fecha de Inicio</label>
              <% if(project_find){ %>
                <% var fecha = new Date(project_find.date_start); %>
              <% } %>
              <input type="date" class="form-control" id="date_start" name="date_start" <% if(project_find){ %>value="<%= fecha.getFullYear() %>-<%= (fecha.getMonth() < 10)? "0" + fecha.getMonth() : fecha.getMonth() %>-<%= (fecha.getDate() < 10)? "0" + fecha.getDate() : fecha.getDate() %>"<% } %> required>
            </div>
            <div class="form-group">
              <label for="duration">Duración</label>
              <input type="tel" class="form-control" id="duration" name="duration" <% if(project_find){ %>value="<%= project_find.duration %>"<% } %> required>
            </div>
            <div class="form-group custom-file">
              <input type="file" class="custom-file-input" id="customFileLangHTML" accept="image/*" name="art" <% if(!project_find){ %>required<% } %>>
              <label class="custom-file-label" for="customFileLangHTML" data-browse="Seleccionar">Arte del Proyecto</label>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="search_user">Buscar Miembro</label>
                  <input type="text" class="form-control" id="search_user" name="search_user" onkeydown="buscar()">
                </div>
                <div class="list-group" id="list_users">
                </div>
              </div>
              <div class="col-8">
                <table class="table">
                  <thead class="thead-dark">
                    <th>Is PM</th>
                    <th>Email</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                  </thead>
                  <tbody id="table_users">
                    <% if(project_find){ %>
                    <% project_find.team.forEach((member) => { %>
                      <tr>
                        <td><input type="radio" name="isPM" value="<%= member._id %>" <%if(String(project_find.pm) == String(member._id)){%>checked<%}%> required><input type="hidden" name="team" value="<%= member._id %>" required></td>
                        <td><%= member.mail %></td>
                        <td><%= member.name %></td>
                        <td><%= member.last_name %></td>
                      </tr>
                    <% }); %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label for="lead">Descripción Corta</label>
              <textarea class="form-control" id="lead" rows="3" name="lead" minlength="10" maxlength="120" data-length="120" required><% if(project_find){ %><%= project_find.lead %><% } %></textarea>
              <small id="imagenHelp" class="form-text text-muted">Ingrese una descripción pequeña del evento, desde 10 hasta 120 carácteres.</small>
            </div>
            <!-- Rich Editor -->
            <div class="form-group">
              <p>Descripción del Proyecto</p>
              <textarea id="description" name="description" class="materialize-textarea" required style="display: none;"><% if (project_find && project_find.description) { %><%= project_find.description %><% } %></textarea>
              <textarea id="description_json" name="description_json" class="materialize-textarea" required style="display: none;"><% if (project_find && project_find.description_json) { %><%= project_find.description_json %><% } %></textarea>
              <!-- <label for="description">Descripción *</label> -->
              <span class="helper-text">
                Ingrese la descripción
              </span>
              <div id="standalone-container">
                <div id="toolbar-container">
                  <span class="ql-formats">
                    <select class="ql-font"></select>
                    <select class="ql-size"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                  </span>
                  <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-header" value="1"></button>
                    <button class="ql-header" value="2"></button>
                    <button class="ql-blockquote"></button>
                    <button class="ql-code-block"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-direction" value="rtl"></button>
                    <select class="ql-align"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                    <button class="ql-video"></button>
                    <button class="ql-formula"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-clean"></button>
                  </span>
                </div>
                <div id="editor"></div>
              </div>
            </div>
            <!-- Fin Rich Editor -->
            <div class="form-group">
              <label for="tags">Tags</label>
              <div class="">
                <div id="email-html"></div>
                <input type="hidden" name="tags" id="emails"/>
              </div>
              <div class="">
                <div class="ui-widget">
                  <input type="text" id="tags" class="form-control">
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted">Presione Ctrl + Enter para agregar un nuevo Tag.</small>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %>
    <%- include('../../components/scripts'); %>
    <script src="/javascripts/js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
      var quill = new Quill('#editor', {
        modules: {
          syntax: true,
          toolbar: '#toolbar-container'
        },
        placeholder: 'Escriba la descripción completa.',
        theme: 'snow'
      });
      <% if (project_find && project_find.description_json) { %>
        let str = '<%= JSON.stringify(project_find.description_json) %>';
        if (str != '') {
          str = str.replace(/&#34;/g, '\"');
          //str = JSON.stringify(str);
          str = str.substring(1, str.length);
          str = str.substring(0, str.length - 1);
          // document.getElementById("description_json").innerHTML = str;
          quill.setContents(JSON.parse(str).ops);
        }
      <% } %>
      quill.on('text-change', function (delta, oldDelta, source) {
        if (source == "user") {
          document.getElementById("description_json").innerHTML = JSON.stringify(quill.getContents(), null, 2);
          document.getElementById("description").innerHTML = document.getElementsByClassName("ql-editor")[0].innerHTML;
        }
      });
    </script>
    <script>
    <% if(project_find){ %>
    document.addEventListener('DOMContentLoaded', function() {
        let date_str = '<%= fecha.getFullYear() %>-<%= (fecha.getMonth() < 10)? "0" + fecha.getMonth() : fecha.getMonth() %>-<%= (fecha.getDate() < 10)? "0" + fecha.getDate() : fecha.getDate() %>';
        document.getElementById("date_start").value = date_str;
    });
    <% } %>
    var selected = [];
    var availableTags = [
      <% if(tags && tags.length > 0){tags.forEach((item_tag) => { %>"<%= item_tag.name %>",<% });} %>
     ];

      $( function() {
        $("#tags").autocomplete({
          source: availableTags,
          select: function( event, ui){
            var value = ui.item.value;
            selected.push(value);
            refreshDiv();
            var i = availableTags.indexOf(value);
            availableTags.splice(i, 1);
            event.preventDefault();
            $("#tags").focusout();
            $("#tags").val('');
          },
          <% if (project_find && project_find.tags && project_find.tags.length > 0) { %>
          create: function(event, ui){
            let value = "";
            let i = "";
            <% project_find.tags.forEach((item_tag) => { %>
              value = "<%= item_tag.name %>";
              selected.push(value);
              refreshDiv();
              i = availableTags.indexOf(value);
              availableTags.splice(i, 1);
              event.preventDefault();
            <% }); %>
          },
          <% } %>
          response: function(event, ui){
            var value = (ui && ui.item  && ui.item.value)? ui.item.value : "";
            $(document).keypress(function(e) {
              if(e.which == 10) {
                if (!value || value == "") {
                  value = document.getElementById("tags").value;
                  if (value && value != "") {
                    selected.push(value);
                    refreshDiv();
                    var i = availableTags.indexOf(value);
                    availableTags.splice(i, 1);
                    event.preventDefault();
                  }
                  $("#tags").focusout();
                  $("#tags").val('');
                }
              }
            });
          }
        });
      });

      function refreshDiv(){
    	$("#emails").val(selected.join(','));
    	  var email_html = selected.map(function(f, i){
    		return "<span class='btn btn-info btn-sm' style='margin: 3px;'>"+f+"&nbsp;&nbsp; <span onclick=\"removeEmail('"+f+"')\" style='color:red'>x</span></span>";
    	});
    	  $("#email-html").html(email_html);
      }

      function removeEmail(email){
        availableTags.push(email);
    	  var i = selected.indexOf(email);
    	  selected.splice(i, 1);
    	  refreshDiv();
      }
    </script>
    <script type="text/javascript">
    var buscar = () => {
      $.post( "/users/search", {search: document.getElementById("search_user").value}, (data) => {
        if (data.status == "success") {
          if (data.data.length > 0) {
            let html = '';
            for (var i = 0; i < data.data.length; i++) {
              let item = data.data[i];
              html += '<button type="button" class="list-group-item list-group-item-action" onclick="add_Table(\'' + item._id + '\', \'' + item.name + '\', \'' + item.last_name + '\', \'' + item.mail + '\')">' + item.name + ' ' + item.last_name + '</button>';
            }
            $("#list_users").html(html);
          }else{
            let html = '<button type="button" class="list-group-item list-group-item-action">Sin Resultados</button>';
            $("#list_users").html(html);
            Toast.fire({
              icon: "info",
              title: "No se encontraron coincidencias"
            });
          }
        }else{
          Toast.fire({
            icon: data.status,
            title: data.statusstr
          });
        }
      });
    };
    var add_Table = (id, name, last_name, email) => {
      $("#table_users").html($("#table_users").html() + '<tr>\n<td><input type="radio" name="isPM" value="' + id + '" required><input type="hidden" name="team" value="'  + id + '" required></td>\n<td>' + name + '</td>\n<td>' + last_name + '</td>\n<td>' + email + '</td>\n</tr>');
    };
    </script>
  </body>
</html>
