<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <%- include('../../components/head'); %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
    />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <%- include('../../components/nav_user'); %> <%-
    include('../../components/nav_admin'); %>
    <main class="container">
      <article class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2 class="text-center">Registrar evento</h2>
          <form id="eventForm" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group col">
                <label for="title">Nombre/Denominación</label>
                <input
                  placeholder="Nombre o denominación de evento"
                  title="Nombre o denominación del evento"
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  required
                  <% if(event){ %>value="<%= event.title %>"<% } %>
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="lead">Breve descripción</label>
                <textarea
                  rows="4"
                  title="Descripción corta de evento"
                  class="form-control"
                  id="lead"
                  name="lead"
                  required
                ><% if(event){ %><%= event.lead %><% } %></textarea>
              </div>
              <div class="form-group col">
                <label for="description">Descripción completa</label>
                <textarea
                  rows="4"
                  title="Descripción completa de evento"
                  class="form-control"
                  id="description"
                  name="description"
                  required
                ><% if(event){ %><%= event.description %><% } %></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="art">Arte o afiche principal</label>
                <input
                  title="Arte o afiche principal de evento"
                  type="file"
                  class="form-control"
                  id="art"
                  name="art"
                  accept="image/*"
                  <% if(!event){ %>required<% } %>
                />
              </div>
              <div class="form-group col">
                <label for="means_place"
                  >Medios o lugar donde se va a desarrollar el evento</label
                >
                <input
                  placeholder="Lugar físico o virtual donde se va a desarrollar el evento"
                  title="Lugar físico o virtual donde se va a desarrollar el evento"
                  type="text"
                  class="form-control"
                  id="means_place"
                  name="means_place"
                  required
                  <% if(event){ %>value="<%= event.means_place %>"<% } %>
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="registration_start"
                  >Fecha y hora de inicio de registro</label
                >
                <input
                  title="Fecha y hora en que se inicie el registro para participar del evento"
                  type="datetime-local"
                  class="form-control"
                  id="registration_start"
                  name="registration_start"
                  required
                  <% if(event){ %>value="<%= new Date(event.registration_start).toISOString().slice(0,16) %>"<% } %> 
                />
              </div>
              <div class="form-group col">
                <label for="registration_end"
                  >Fecha y hora de cierre de registro</label
                >
                <input
                  title="Fecha y hora en que se cierre el registro para participar del evento"
                  type="datetime-local"
                  class="form-control"
                  id="registration_end"
                  name="registration_end"
                  required
                  <% if(event){ %>value="<%= new Date(event.registration_end).toISOString().slice(0,16) %>"<% } %> 
                />
              </div>
            </div>
            <div id="organizerContainer">
              <% if(event){%>
                <% event.organizer.forEach(function(item){ %>
            <div class="add">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Datos de organizador</h5>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="name">Nombre o denominación</label>
                      <input
                        placeholder="Denominación de organizador"
                        title="Nombre o denominación de organizador"
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        required
                        value="<%= item.name %>"
                      />
                    </div>
                    <div class="form-group col">
                      <label for="logo">Logo</label>
                      <input
                        title="Logo o imagen representativa de organizador"
                        type="file"
                        class="form-control"
                        id="logo"
                        name="logo"
                        accept="image/*"
                        value="<%= item.logo %>"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%})}else{%>
  <div class="add">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Datos de organizador</h5>
        <div class="form-row">
          <div class="form-group col">
            <label for="name">Nombre o denominación</label>
            <input
              placeholder="Denominación de organizador"
              title="Nombre o denominación de organizador"
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="form-group col">
            <label for="logo">Logo</label>
            <input
              title="Logo o imagen representativa de organizador"
              type="file"
              class="form-control"
              id="logo"
              name="logo"
              accept="image/*"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </div>
<%}%>
<!-- Agrega otro organizador -->
<div class="text-center">
  <button type="button" class="btn btn-sm btn-warning" id="addMore">
    Agregar otro organizador
  </button>
</div>

            </div>
            <!-- Tag -->
            <div class="form-group">
              <label for="tags">Tags</label>
              <div class="">
                <div id="email-html"></div>
                <input type="hidden" name="tags" id="emails" />
              </div>
              <div class="">
                <div class="ui-widget">
                  <input type="text" id="tags" class="form-control" />
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted"
                >Presione Ctrl + Enter para agregar un nuevo Tag.</small
              >
            </div>
            <!-- End tag select -->
            
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/event" class="btn btn-warning">Cancelar</a>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../components/footer'); %> <%-
    include('../../components/scripts'); %>
    <script src="/javascripts/js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
        $("#eventForm").on("submit", async function (e) {
          e.preventDefault();
          var formData = new FormData();
          let data = getFormData($(this));
          let art = document.getElementById("art").files[0];
          formData.append("art", art);

          let organizer = [];
          $(".add").each(function (i) {
            let organizerItem = getFormData($(this).find("input"));
            organizerItem.id = i;
            organizer.push(organizerItem);
            let logo = $(this).find("#logo").prop("files");
            formData.append("logo-" + i, logo[0]);
          });
          data.organizer = organizer;
          formData.append("data", JSON.stringify(data));

          const res = await fetch("/event/<% if(event){ %>update/<%= event._id %><% }else{ %>save<% } %>", {
            method: "<% if(event){ %>PUT<% }else{ %>POST<% } %>",
            body: formData,
          });
          const { redirect } = await res.json();
          window.location = redirect;
        });
      });
    </script>
    <script>
      var selected = [];
      var availableTags = [
        <% if(tags && tags.length > 0){tags.forEach((item_tag) => { %>"<%= item_tag.name %>",<% });} %>
       ];

        $( function() {
          $("#tags").autocomplete({
            source: availableTags,
            select: function( event, ui){
              var value = ui.item.value;
              selected.push(value);
              refreshDiv();
              var i = availableTags.indexOf(value);
              availableTags.splice(i, 1);
              event.preventDefault();
              $("#tags").focusout();
              $("#tags").val('');
            },
            <% if (event && event.tags && event.tags.length > 0) { %>
            create: function(event, ui){
              let value = "";
              let i = "";
              <% event.tags.forEach((item_tag) => { %>
                value = "<%= item_tag.name %>";
                selected.push(value);
                refreshDiv();
                i = availableTags.indexOf(value);
                availableTags.splice(i, 1);
                event.preventDefault();
              <% }); %>
            },
            <% } %>
            response: function(event, ui){
              var value = (ui && ui.item  && ui.item.value)? ui.item.value : "";
              $(document).keypress(function(e) {
                if(e.which == 10) {
                  if (!value || value == "") {
                    value = document.getElementById("tags").value;
                    if (value && value != "") {
                      selected.push(value);
                      refreshDiv();
                      var i = availableTags.indexOf(value);
                      availableTags.splice(i, 1);
                      event.preventDefault();
                    }
                    $("#tags").focusout();
                    $("#tags").val('');
                  }
                }
              });
            }
          });
        });

        function refreshDiv(){
        $("#emails").val(selected.join(','));
          var email_html = selected.map(function(f, i){
          return "<span class='btn btn-info btn-sm' style='margin: 3px;'>"+f+"&nbsp;&nbsp; <span onclick=\"removeEmail('"+f+"')\" style='color:red'>x</span></span>";
        });
          $("#email-html").html(email_html);
        }

        function removeEmail(email){
          availableTags.push(email);
          var i = selected.indexOf(email);
          selected.splice(i, 1);
          refreshDiv();
        }
    </script>
  </body>
</html>
